
.section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;

    &_face {
        position: relative;
        z-index: 2;
        padding-bottom: 150px;
        padding-top: 40px !important;
        background-color: #FAF2F1;
    }

    &_beauty {
        padding-top: 260px;
        padding-bottom: 300px;
        background-image: url("../media/section/beauty.jpg");
        background-size: cover;
        background-position: center bottom;
    }

    &_causes {
        background-color: #f5f5f5;
    }

    &_problems {
        position: relative;
        overflow: hidden;
        background-image: url("../media/section/problems.jpg");
        background-size: cover;
        background-position: center;
        background-color: #d9f1f3;

        &-media {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;

            & img {
                margin-left: auto;
                height: 100%;
            }
        }
    }
    
    &_time {
        position: relative;
        background-color: #FAF2F1;
    }

    &_result {
        position: relative;
        background-color: #fff;
    }

    &_care {
        position: relative;
        background-image: url("../media/section/care.jpg");
        background-size: cover;
        background-position: center;
        background-color: #D8EFF2;
    }

    &_ingredients {
        position: relative;
        background-image: url("../media/section/ingredients.jpg");
        background-position: center;
        background-color: #FAF1F1;
    }

    &_why {
        background-image: url("../media/section/why.jpg");
        background-size: cover;
        background-position: center bottom;
        background-color: #fff;
    }

    &_professionals {
        background-image: url("../media/section/professionals.jpg");
        background-size: cover;
        background-position: center top;
        background-color: #F5F5F5;
    }

    &_qualitative {
        padding-top: 0 !important;
        position: relative;
    }

    &_job {
        background-color: rgba(245, 245, 245, 0.47);
    }

    &_footer {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    &__list-1 {
        position: absolute;
        z-index: 2;
        bottom: -147px;
        right: 52px;
    }

    &__list-3 {
        position: absolute;
        z-index: 2;
        bottom: -147px;
        right: 52px;
    }

    &__list-4 {
        position: absolute;
        z-index: 2;
        top: 300px;
        left: 150px;
    }

    &__list-5 {
        position: absolute;
        z-index: 2;
        bottom: -147px;
        right: 52px;
    }

    &__list-6 {
        position: absolute;
        z-index: 2;
        bottom: -147px;
        left: 52px;
    }
}


.section__title {
    position: relative;
    display: inline-block;
    font-family: "Baskerville", serif;
    font-size: 70px;
    font-weight: 400;
    line-height: .8;
    color:#3B6167;

    &::before {
        position: absolute;
        bottom: -5px;
        left: -20px;
        width: calc(100% + 40px);
        content: '';
        height: 27px;
        background-color: rgba(59, 97, 103, 0.19);
    }
}

.section__subtitle {
    font-size: 48px;
    font-family: "Baskerville", serif;
    color: #3B6167;
    line-height: 1;
}

@media (max-width: 1750px) {
    .section {
        &__list-4 {
            top: 50%;
            left: 15px;
        }
    }
}

@media (max-width: 1650px) {
    .section_problems-media {
        margin-right: -200px;
    }
}

@media (max-width: 1520px) {
    .section {
        &__list-4 {
            max-width: 140px;
            top: 100%;
            transform: translateY(-50%);
        }
    }
}

@media (max-width: 1250px) {
    .section_problems-media {
        margin-right: -300px;
    }
}

@media (max-width: 1100px) {
    .section_problems-media {
        margin-right: -350px;
    }
}

@media (max-width: 1054px) {
    .section {
        padding-top: 80px;
        padding-bottom: 80px;

        &_face {
            padding-top: 0 !important;
        }

        &_beauty {
            padding-top: 125px;
            padding-bottom: 125px;
            background-image: url("../media/section/beauty-1054.jpg");
        }

        &_care {
            background-image: url("../media/section/care-1054.jpg");
            background-size: auto;
            background-position: center bottom;
            padding-bottom: 440px;
        }

        &_ingredients {
            background-image: none;
            background-color: #FAF1F1;
        }

        &_why {
            padding-bottom: 420px !important;
            background-image: url("../media/section/why-1054.jpg");
            background-size: auto;
        }

        &_professionals {
            background-image: none;
            background-color: #F5F5F5;
        }

        &__list-6 {
            max-width: 180px;
            left: 52px;
            bottom: -125px;
        }

        &__list-3 {
            max-width: 150px;
            bottom: auto;
            top: -70px;
        }
    }

    .section_problems-media {
        display: none;
    }

    .section__title {
        font-size: 60px;

        &::before {
            height: 15px;
        }
    }

    .section__subtitle {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;

        &_face {
            padding-top: 30px !important;
        }

        &__list-1 {
            max-width: 180px;
            bottom: -110px;
        }

        &__list-3 {
            max-width: 115px;
            bottom: -75px;
        }

        &__list-4 {
            max-width: 80px;
        }

        &_beauty {
            padding-top: 80px;
            padding-bottom: 80px;
            background-image: url("../media/section/beauty-768.jpg");
        }

        &_care {
            background-image: url("../media/section/care-768.jpg");
            padding-bottom: 285px !important;
        }

        &__list-6 {
            max-width: 100px;
            bottom: -70px;
        }

        &__list-3 {
            top: -39px;
        }
    }

    .section__title {
        font-size: 50px;
    }
}

@media (max-width: 480px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_beauty {
            padding-bottom: 290px;
            background-size: auto;
            background-image: url("../media/section/beauty-480.jpg");
        }

        &__list-1 {
            max-width: 140px;
            bottom: -85px;
        }
    }

    .section__title {
        font-size: 48px;
    }

    .section__subtitle {
        font-size: 26px;
    }
}