<section class="section section_face" id="elem1">
    <div class="section__list-1">
        <img src="../media/section/list-1.png" alt="">
    </div>
    <div class="container">
        <div class="face">
            <header class="face__header">
                <div class="face__logo">intenskin</div>
                <nav class="face__nav">
                    <a href="#elem1" class="face__nav-item active">Главная</a>
                    <a href="#elem2" class="face__nav-item">Результаты</a>
                    <a href="#elem3" class="face__nav-item">Мнение специалистов</a>
                    <a href="#elem4" class="face__nav-item">Отзывы</a>
                    <a href="#elem5" class="face__nav-item">Как заказать</a>
                </nav>
            </header>
            <div class="face__body">
                <div class="face__box">
                    <h1 class="face__title">Интенсивное омоложение и уход</h1>
                    <div class="face__list">
                        <div class="face__list-item"><p>Мгновенно <b>питает</b></p></div>
                        <div class="face__list-item"><p><b>Удерживает</b> влагу</p></div>
                        <div class="face__list-item"><p><b>Разглаживает</b> морщины</p></div>
                        <div class="face__list-item"><p><b>Осветляет</b> пигментные пятна</p></div>
                    </div>
                </div>
                <div class="face__product">
                    <img src="../media/product.png" alt="">
                </div>
                <div class="face__box">
                    <%- include('form') %>
                </div>
            </div>
        </div>
    </div>
</section>