<div class="form">
    <div class="form__new">
        <div class="form__new-text">Цена со скидкой:</div>
        <div class="form__new-price"><span>990</span>руб</div>
    </div>
    <div class="form__old">
        <div class="form__old-price">Цена без скидки: <span>1890</span>руб</div>
    </div>
    <div class="form__time">
        <div class="form__time-title">До конца акции осталось:</div>
        <div class="form__time-box">
            <div class="form__time-count">
                <span>00</span>
                <span>часов</span>
            </div>
            <span>:</span>
            <div class="form__time-count">
                <span>21</span>
                <span>минут</span>
            </div>
            <span>:</span>
            <div class="form__time-count">
                <span>48</span>
                <span>секунд</span>
            </div>
        </div>
    </div>
    <div class="form__body">
        <label class="form__label">
            <select class="form__field form__select">
                <option value=""></option>
                <option value="Страна1">Страна1</option>
                <option value="Страна2">Страна2</option>
                <option value="Страна3">Страна3</option>
            </select>
            <span>Страна</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field" value="">
            <span>Имя</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field" value="">
            <span>Телефон</span>
        </label>
    </div>
    <button class="form__btn">Заказать</button>
</div>